.title__header {
	position: fixed;
	top: 0;
	left:0 ;
	width:100%;
	z-index: 1000;
	height: 100px;
	display: flex;
	justify-content: right;
	align-items: center;
	background-color: #ffffff;
}

.irfulogo {
	width: 130px;
	height: 100px;
	color: rgb(0, 60, 255);
	position: absolute;
	top: 5px;
	left: 0;
	margin-left: 2rem;
	transition: all 0.5s;
	cursor: pointer;
}

.irfulogo:hover {
	filter: drop-shadow( 5px 5px 1px rgba(0, 0, 0, 0.549));
}

.irfulogo:active {
	opacity: 0.5;
}

.icon__phone {
	position: relative;
	top: 2px;
	left: -3px;
	color: rgb(13, 255, 0);
}

.header__button {
	margin: 1rem;
	background: none;
	border: none;
	color: black;
	font-size: 20px;
	font-weight: normal;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	transition: all 0.5s ;
	cursor: pointer;
}

.header__button:hover {
	color: rgb(0, 60, 255);
	border-bottom: 1px solid rgb(0, 60, 255);
}

.header__button:active {
	color: rgb(0, 17, 72);
	border-bottom: 1px solid rgb(0, 19, 72);
}